html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

p {
  line-height: 1.5;
}

.ctnr {
  width: 100vw;
  height: 100vh;
}

.a-bracket {
  color: #0891b2;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.a-bracket::before,
.a-bracket::after {
  transition: all 0.2s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.a-bracket::before {
  content: '[ ';
}

.a-bracket::after {
  content: ' ]';
}

.a-bracket:hover::before,
.a-bracket:hover::after {
  opacity: 1;
}

.a-bracket:hover {
  color: #0e7490;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.domine-regular {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: normal
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

#page {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-img {
  width: 80%;
  height: auto;
}

#next-edit-img {
  width: 100%;
  height: auto;
}

.right {
  width: 50%;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    font-size: 0.9em;
    text-wrap: pretty;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    padding: 1em;
  }

}

#social-icon-ctnr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icon img {
  height: 2em;
  width: auto;
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.arrow-up {
  top: 20px;
}

.arrow-down {
  bottom: 20px;
}
